
<div class="mt-10 p-6 max-w-md mx-auto bg-white dark:bg-slate-800 shadow-lg rounded-xl">
    <h4 class="py-4 text-slate-800 dark:text-white text-xl text-center font-semibold border-b border-slate-200 dark:border-slate-700">Login</h4>
    <div class="mt-5">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="mb-6">
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                <input 
                type="email" 
                id="email" 
                formControlName="email"
                class="shadow-sm bg-white dark:bg-slate-900 border border-slate-300 dark:border-slate-600 text-slate-900 dark:text-slate-200 text-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5 outline-none" placeholder="davidpaul@test.com" required>
              </div>
              <div class="mb-6">
                <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                <input 
                type="password" 
                id="password" 
                formControlName="password"
                class="shadow-sm bg-white dark:bg-slate-900 border border-slate-300 dark:border-slate-600 text-slate-900 dark:text-slate-200 text-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5 outline-none" required>
              </div>
            
            <div class="flex justify-between items-start mb-6">
              <!-- <div class="flex items-center h-5">
                <input id="terms" type="checkbox" value="" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-gray-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-gray-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800" required>
                <label for="terms" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Remember password</label>
              </div> -->
              <a href="#" class="text-sm font-medium text-slate-600 hover:underline dark:text-slate-400">Forgot password?</a>
            </div>
            <button type="submit" class="text-white bg-indigo-600 hover:bg-indigo-700 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-indigo-500 font-medium text-sm px-5 py-3 text-center w-full rounded-lg">Login </button>
            <p class="mt-4 text-sm">
                Not a member?
                <a [routerLink]="['/register']" class="text-slate-600 hover:underline dark:text-slate-400">Register</a>
            </p>
          </form>
    </div>

</div>
  

  