
<section class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8 md:py-12">
  <aside 
  class="col-span-1 md:col-span-1 lg:col-span-1 mb-6 md:mb-0 md:mr-6 hidden md:block"
  >
  <div class="bg-white dark:bg-slate-800 rounded-xl ring-1 ring-black/5 dark:ring-white/10 h-full p-3 overflow-auto">
      <app-asideskeleton
      *ngFor="let skeleton of asideSkeletons"
        ></app-asideskeleton>
  </div>
  </aside>
    

    <article class="col-span-1 md:col-span-2 lg:col-span-3">
      <div>
        <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-4 sm:gap-6">            
           <app-cardskeleton
           *ngFor="let skeleton of prodSkeletons"
           ></app-cardskeleton>
        </div>
      </div>
    </article>
</section>




   